header{
    background-color: darkgrey;
}
main{
   
    background-color: bisque;
}
.main-navigation{
    display: inline-block;
}
.main-navigation ul{
    list-style: none;
}
.main-navigation li{
    margin: 3px;
}
.main-navigation a{
    color: white;
}

aside{
    background-color: aquamarine;
    display: inline-block;
    width: 20%;
}
section{
    background-color: cadetblue;
    
}

section.first-section{
    display: inline-block;
    width: 79%;
}