#hero{
    height: 100vh;
    background-image: url('https://cdn.britannica.com/30/199930-131-B3D1D347/computer.jpg');
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#hero .overlay{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 0;
} 


/* for my project */
#hero h1{
    font-size: 5rem;
    text-align: center;
    width: 80%;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero h1 span{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    background-color: lightgreen;
    color: black;

    position: absolute;
    top: -10px;
    right: -10px;
    width: 150px;
    z-index: 1;
}

#floats img{
    float: right;
    padding: 2rem;
}