article{
    background-color: lightblue;
    padding: 40px;
}

/* for navbar */
div{
    background-color: red;
    padding: 20px;
    top: 0;
    left: 0;
    position: fixed;
    
}

.position{
    background-color: lightgreen;
    padding-left: 100px;
}