article{
    background-color: lightblue;
    padding: 40px;
}

div{
    background-color: red;
    padding: 20px;
    margin: 20px, 20px, 20px, 20px;
    position: absolute;
    
}

.position{
    background-color: lightgreen;
    padding-left: 100px;
}